<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a type="button" class="nav-link" aria-current="page" [routerLink]="['/proshow']" routerLinkActive="menu-item-selected">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/show-info']" routerLinkActive="menu-item-selected">Productos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>